.profile{
    height: fit-content !important;
    font-weight: 500;
    font-size: larger;
}
.FirstRow{
    height: 50px !important;
}
.thirdRow{
    height: 50px !important;
}
/* .fourthrow{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
} */